.main{
	background-color: black;
}

.face{
	width: 200px;
	height: 200px;
	background-color: blue;
	border-radius: 100px;
	margin: auto;
}

.left_eye{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: white;
	margin-top: 50px;
	margin-left: 40px;
}

.right_eye{
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: white;
	margin-top: 50px;
	margin-right: 40px;
}

.nose{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: red;
	margin: auto;
	position: relative;
	top:90px;
}

.cl{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border:1px solid black;
	position: relative;
	top:20px;
	background-color: black;
	margin: auto;
}

.cr{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border:1px solid black;
	position: relative;
	top:20px;
	background-color: black;
	margin: auto;
}

.mouth{
	width: 50px;
	height: 25px;
	border:solid 0px white;
	border-radius: 0px 0px 50px 50px;
	background-color: white;
	position: relative;
	top: 110px;
	margin: auto;
}

.toung{
	width: 25px;
	height: 12px;
	background-color: red;
	border-radius: 0px 0px 25px 25px;
	border:1px solid red;
	margin: auto;
}

.sol{
	width: 200px;
	height: 30px;
	background-color:blue;
	margin:auto;
	border-radius:30px 30px 0px 0px;
}

.ti{
	background-color: red;
	width: 150px;
	height: 30px;
	border-radius: 15px;
	margin: auto;
	position: relative;
	top: -15px;
}

.o{
	width: 35px;
	height: 35px;
	background-color: yellow;
	border-radius: 175px;
	margin: auto;
	position: relative;
	top: -3px;
}

.stom{
	width: 250px;
	height: 250px;
	background-color: blue;
	margin: auto;
	border-radius: 25px 25px 0px 0px;
}

.tom{
	width: 180px;
	height: 90px;
	border-radius: 0px 0px 90px 90px;
	background-color: white;
	margin: auto;
	position: relative;
	top:150px;
}

.lhand{
	width: 30px;
	height: 150px;
	background-color: blue;
	border-radius: 20px;
	position: relative;
	left: -15px;
	margin-top: 10px;
	float: left;

}

.pl{
	border-radius: 20px;
	height: 40px;
	width: 40px;
	background-color: white;
	position: relative;
	top:130px; 
	left:-5px;
}


.rhand{
	width: 150px;
	height: 30px;
	background-color: blue;
	float: right;
	border-radius: 15px;
	position: relative;
	right: -140px;
	top: 10px;
}
.pr{
	border-radius: 20px;
	height: 40px;
	width: 40px;
	background-color: white;
	position: relative;
	left: 130px;
	top: -5px;
}

.down{
	width: 250px;
	height: 250px;
	margin: auto;
}	

.lleg{
	float: left;
	width: 120px;
	height: 100px;
	background-color: blue;
}

.rleg{
	float: right;
	width: 120px;
	height: 100px;
	background-color: blue;
}

.foot_left{
	width: 120px;
	height: 50px;
	border-radius: 25px;
	background-color: white;
	position: relative;
	top:80px;
}

.foot_right{
	width: 120px;
	height: 50px;
	border-radius: 25px;
	background-color: white;
	float: right;
	position: relative;
	top:80px;
}